body{
    font-family: Verdana;
    size: 2rem;
    text-align: center;
}
label{margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 5em;
    color: rgb(7, 12, 6);
}
button{
    background-color: rgb(73, 161, 238);
    height: 25px;
    width: auto;
}
button:hover{
    background-color:rgb(148, 195, 238) ;
}